<!--<script src="lib/angular.min.js"></script>-->
<!--<script src="js/CadastrarFuncionarioCtrl.js"></script>-->
<!--<script src="lib/jquery.min.js"></script>-->
<style>
    .jumbotron{
        margin-top:2%;
        width: 95%;
        background-color:#FFFFFF;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .form-signin-heading{
        font-family: 'Lato', sans-serif;
        font-size: 38px;
        margin-top: -10px;
    }
    #linha1{
        width:38%;
        float:left;
        margin-left:1%;
        margin-right:1%;
        border-radius: 20px;
    }
    #linha2{
        width:18%;
        float:left;
        margin-left:1%;
        margin-right:1%;
        border-radius: 20px;
    }
    #linha3{
        width:18%;
        float:left;
        margin-left:1%;
        margin-right:1%;
        border-radius: 20px;
    }
    #img{
        width: 78%;
        float:left;
        height: 15%;
        margin-left: 1%;
        margin-top: -1%;
    }
    #button{
        width: 15%;
        font-size: 15px;
        margin-left: 1%;
        margin-top:-1.5%;
        letter-spacing: 1.5px;
    }
</style>
<div class="jumbotron">
    <form name="funcionarioForm" class="form-signin">
        <h2 class="form-signin-heading" align="left">Cadastrar <b>Funcionário:</b></h2>
        <br>
        <input type="text" name="nme_funcionario" ng-model="funcionario.nme_funcionario" class="form-control" placeholder="Nome" required id="linha1" />
        <input type="text" name="end_funcionario" ng-model="funcionario.end_funcionario" class="form-control" placeholder="Endereço" required id="linha1"/>
        <br><br>
        <input type="text" name="cpf_funcionario" ng-model="funcionario.cpf_funcionario" class="form-control" placeholder="CPF" required id="linha2"/>
        <input type="text" name="rg_funcionario" ng-model="funcionario.rg_funcionario" class="form-control" placeholder="RG" required id="linha2"/>
        <input type="text" name="end_estado_funcionario" ng-model="funcionario.end_estado_funcionario" class="form-control" placeholder="Estado" required id="linha2"/>
        <input type="text" name="end_cidade_funcionario" ng-model="funcionario.end_cidade_funcionario" class="form-control" placeholder="Cidade" required id="linha2"/>
        <br><br>
        <input type="date" name="dta_nasc_funcionario" ng-model="funcionario.dta_nasc_funcionario" class="form-control" placeholder="AAAA-MM-DD"  required id="linha2"/><!--pattern="\d{4}\-\d{2}\-\d{2}"-->
        <input type="text" name="cel_funcionario" ng-model="funcionario.cel_funcionario" class="form-control" placeholder="Celular" required id="linha2"/>
        <input type="text" name="end_bairro_funcionario" ng-model="funcionario.end_bairro_funcionario" class="form-control" placeholder="Bairro" required id="linha2"/>
        <input type="text" name="end_nr_funcionario" ng-model="funcionario.end_nr_funcionario" class="form-control" placeholder="Número do Endereço" required id="linha2"/>
        <br><br>
        <input type="text" name="tel_funcionario" ng-model="funcionario.tel_funcionario" class="form-control" placeholder="Telefone" required id="linha2"/>
        <input type="text" name="sex_funcionario" ng-model="funcionario.sex_funcionario" class="form-control" placeholder="Sexo" required id="linha2"/>
        <!--<select class="form-control" ng-model="funcionario.cpf_funcionario" ng-options="sex.cpf_funcionario as sex.sex_funcionario for sex in sexoF" required id="linha2">
            <option value="">Sexo</option>
        </select>-->
        <input type="text" name="cep_funcionario" ng-model="funcionario.cep_funcionario" class="form-control" placeholder="CEP" required id="linha2"/>
        <select class="form-control" ng-model="funcionario.cod_estado_civil" ng-options="estciv.idt_estado_civil as estciv.dsc_estado_civil for estciv in estadocivil" required id="linha2">
        <option value="">Estado Civil</option>
        </select>
        <br><br>
        <input type="password" name="pwd_funcionario" ng-model="funcionario.pwd_funcionario" class="form-control" placeholder="Senha" required id="linha3"/>
        <!--<input type="option" name="cod_funcao" ng-model="funcionario.cod_funcao" class="form-control" placeholder="Função" required id="linha3"/>
        <input type="text" name="cod_restaurante" ng-model="funcionario.cod_restaurante" class="form-control" placeholder="Restaurante" required id="linha3"/>-->
        <select class="form-control" ng-model="funcionario.cod_funcao" ng-options="func.idt_funcao as func.dsc_funcao for func in funcionarioFuncao" required id="linha2">
            <option value="">Função</option>
        </select>
        <select class="form-control" ng-model="funcionario.cod_restaurante" ng-options="rest.cnpj_restaurante as rest.nme_restaurante for rest in restauranteF" required id="linha2">
            <option value="">Restaurante</option>
        </select>
        <br><br><br>
        <input type="file" name="img_funcionario" ng-model="funcionario.img_funcionario" class="form-control" placeholder="Foto" required id="img"/>
        <br><br><br>
        <b><button class="btn btn-lg btn-primary btn-block" ng-model=adicionarF ng-click="adicionarFuncionario(funcionario)"
                ng-disabled = "!(funcionario.nme_funcionario &&
                                 funcionario.end_funcionario &&
                                 funcionario.cpf_funcionario &&
                                 funcionario.rg_funcionario &&
                                 funcionario.end_estado_funcionario &&
                                 funcionario.end_cidade_funcionario &&
                                 funcionario.dta_nasc_funcionario &&
                                 funcionario.cel_funcionario &&
                                 funcionario.end_bairro_funcionario &&
                                 funcionario.end_nr_funcionario &&
                                 funcionario.tel_funcionario &&
                                 funcionario.sex_funcionario &&
                                 funcionario.cep_funcionario &&
                                 funcionario.cod_estado_civil &&
                                 funcionario.pwd_funcionario &&
                                 funcionario.cod_funcao &&
                                 funcionario.cod_restaurante)"
                   type="submit" id="button" >Registrar</button></b>
    </form>

</div>
