   <script src="lib/angular.min.js"></script>
   <script src="js/signUpPageCtrl.js"></script>
   <script src="lib/jquery.min.js"></script>
   <style>
    .jumbotron{
        width: 400px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<div class="jumbotron">
    <form name="funcionarioForm" class="form-signin">
        <h2 class="form-signin-heading">Cadastrar Funcionário:</h2>

        <input type="text" name="nme_funcionario" ng-model="funcionario.nme_funcionario" class="form-control" placeholder="Nome" required/>
        <br>
        <input type="text" name="cpf_funcionario" ng-model="funcionario.cpf_funcionario" class="form-control" placeholder="CPF" required/>
        <br>
        <input type="number" name="tel_funcionario" ng-model="funcionario.tel_funcionario" class="form-control" placeholder="Telefone" required/>
        <br>
        <input type="date" name="dta_nasc_funcionario" ng-model="funcionario.dta_nasc_funcionario" class="form-control" placeholder="Data de Nascimento" required/>
        <br>
        <input type="text" name="sex_funcionario" ng-model="funcionario.sex_funcionario" class="form-control" placeholder="Sexo" required/>
        <br>
        <input type="text" name="rg_funcionario" ng-model="funcionario.rg_funcionario" class="form-control" placeholder="RG" required/>
        <br>
        <input type="text" name="end_funcionario" ng-model="funcionario.end_funcionario" class="form-control" placeholder="Endereço" required/>
        <br>
        <input type="text" name="end_nr_funcionario" ng-model="funcionario.end_nr_funcionario" class="form-control" placeholder="Número do Endereço" required/>
        <br>
        <label for="img_funcionario">Foto</label>
        <input type="file" name="img_funcionario" ng-model="funcionario.img_funcionario" class="form-control" placeholder="Foto" required/>
        <br>
        <input type="pass" name="pwd_funcionario" ng-model="funcionario.pwd_funcionario" class="form-control" placeholder="Senha" required/>

        <br>
        
    </form>
    <button class="btn btn-lg btn-primary btn-block" ng-model=adicionarF ng-click="adicionarFuncionario(funcionario)"  type="submit">Registrar</button>
</div>