<style>
    .jumbotron{
        width: 800px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .center{
        margin-left: auto;
        margin-right: auto;
    }
</style>
<div class="jumbotron" ng-repeat="carda in cardapio">
    <a href="#/atualizarCardapio/{{carda.idt_cardapio}}" class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
            <h2 class="mb-1">{{carda.itm_cardapio}}</h2>
            <small>{{carda.dsc_itm_cardapio}}</small>
        </div>
</div>