 <!--<script src="lib/angular.min.js"></script>-->
 <!--<script src="js/Controller/funcionarioCtrl.js"></script>-->
 <!--<script src="js/Services/funcionarioAPIService.js"></script>-->
 <style>    
  /* Set black background color, white text and some padding */
  footer {
    background-color: #555;
    color: white;
    padding: 15px;
  }
</style>
</head>
<body>
  
  <div class="container text-center">    
    <div class="row" ng-repeat="employee in funcionario">
      <div class="col-sm-3 well">
          <div class="well">
              Image:
              <!-- <img ng-src="{{content}}"> -->
              <!-- <img data-ng-src="data:image/png;base64,{{b64encoded}}"> -->
            <!--  <img ng-src="data:image/JPEG;base64,{{employee.img_funcionario}}"> -->
          </div>
        <div class="well">
          <h1>{{employee.nme_funcionario}}</h1>
        </div>
          <a class="btn btn-success" href="#/atualizarFuncionario/{{employee.cpf_funcionario}}">Atualizar Perfil</a>
          <a class="btn btn-danger" ng-click="deleteFuncionario(employee.cpf_funcionario)" href="#">Deletar Perfil</a>
     </div>

     <div class="col-sm-7">
         <h2><p contenteditable="true">Informações:</p></h2>
       <div class="row">
        <div class="col-sm-3">
            <div class="panel-body">
                  <h3>CPF:</h3>
                  {{employee.cpf_funcionario}}
             </div>
        </div>
           <div class="col-sm-3">
               <div class="panel-body">
                   <h3>RG:</h3>
                   {{employee.rg_funcionario}}
               </div>
           </div>
           <div class="col-sm-3">
               <div class="panel-body">
                   <h3>Data de Nascimento:</h3>
                   {{employee.dta_nasc_funcionario}}
               </div>
           </div>
                  <h3>Função:</h3>
                  {{employee.cod_funcao}}
                  <h3>Telefone:</h3>
                  {{employee.tel_funcionario}}
                  <h3>Celular:</h3>
                  {{employee.cel_funcionario}}
                  <h3>CEP:</h3>
                  {{employee.cep_funcionario}}
                  <h3>Endereço:</h3>
                  {{employee.end_funcionario}}
                  <h3>Número:</h3>
                  {{employee.end_nr_funcionario}}
                  <h3>Bairro:</h3>
                  {{employee.end_bairro_funcionario}}
                  <h3>Cidade:</h3>
                  {{employee.end_cidade_funcionario}}
                  <h3>Estado:</h3>
                  {{employee.end_estado_funcionario}}
                  <h3>Sexo:</h3>
                  {{employee.sex_funcionario}}
                <!--  <h3>{{employee.cod_estado_civil}}</h3> -->
     </div>
   </div>    
 </div>
</div>
</div>
