    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<script src="lib/angular.min.js"></script>-->
    <!--<script src="js/principalCtrl.js"></script>-->
    <!--<script src="lib/jquery.min.js"></script>-->
    <style>
        .jumbotron{
            width: 800px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
        .center{
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <div class="container">

        <div class="container text-center">
            <h1>Bem-vindo ao SiAR</h1>
            <p>Este é um sistema voltado para gerenciamento de funcionários como foco principal cadastro
                e manipulação de informações relacionadas a cada funcionário e ponto eletrônico.</p>
            </div>
            <hr>
        </div>
        <!-- Example row of columns -->
        <div class="container text-center">
            <h2>Funcionários presentes neste momento:</h2>
        </div>

            <table class="jumbotron">
                <tr class="center" ng-controller="principalCtrl" ng-repeat="employee in funcionario | filter:test">
                  <td><img ng-src="data:image/JPEG;base64,{{employee.img_funcionario}}"></td>
                    <td><h3>{{employee.nme_funcionario}}</h3></td>
                    <td><a class="btn btn-primary" href="#/funcionario/{{employee.cpf_funcionario}}">Ver Perfil</a></td>  </tr>
            </table>
