
<ion-nav-view>
<ion-view view-title="Cardapio">
	<ion-content>
                <ion-list>
                    <!--<div class="item item-divider">-->
                        <!--{{cardapio.dsc_categoria}}-->
                    <!--</div>-->
                    <div class="list">
                    <ion-item ng-repeat="carda in cardapio">
                    <div class="item">
                        <div class="item item-thumbnail-left">
                        <p><h1>{{carda.itm_cardapio}}</h1> | {{carda.vlr_itm_cardapio}}</p>
                        <h2>{{carda.dsc_itm_cardapio}}</h2>
                        </div>
                    </div>
                    </ion-item>
                    </div>
                </ion-list>
	</ion-content>
</ion-view>
</ion-nav-view>