<ion-view view-title="Linha do tempo">
  <ion-content class="padding">
      <section id="cd-timeline" class="cd-container">
        <div ng-repeat="activity in timeline">
          <div class="cd-timeline-block">
          	<!-- CUSTOMIZE YOUR STYLE USING DEFAULT IONIC VALUES SUCH AS POSITIVE, CALM, BALANCED,... -->
            <div class="cd-timeline-picture text-center dark">
              <img ng-src="www/img/../../img/icone_calendario.jpg"></img>
            </div>
            <!-- CUSTOMIZE YOUR STYLE USING DEFAULT IONIC VALUES SUCH AS POSITIVE, CALM, BALANCED,... -->
            <div class="cd-timeline-content padding dark">
            	<h4 class="marginBottom0 marginTop0">Dia:{{activity.dia_fim}}</h4>
            	<h5 class="marginTop5 cd-author">Empregado:<i><b>{{activity.nme_person}}</b></i></h5>
            	<h5 class="timelineText">Hora de entrada:{{activity.hr_ini}}</h5>
              <h5 class="timelineText">Hora de saída:{{activity.hr_fim}}</h5>
              <h5 class="timelineText">Hora trabalhada:{{activity.hora_dia}} horas</h5>
            </div>
          </div>
        </div>
      </section>
    </ion-content>
</ion-view>